.main {
  width: 600px;
  padding:10px;
  margin:30px auto;
  border:1px solid #ccc;
  border-radius:4px;
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
svg .axis text {
  stroke: #666;
  font-size: 7pt; 
  font-weight: normal;
}
svg .markers .marker {
  stroke-width:1;
  marker-end:url(#arrowhead);
}
